@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.apply-filters {
  filter: grayscale(1) brightness(50%);
}
.StartQuiz li {
  padding: 0;
  margin: 0;
}
.StartQuiz {
  margin-left: 35px;
}

.timer-quiz {
  float: right;
  margin-top: 25px;
}

.Image img {
  width: 450px;
  height: 280px;
  border-radius: 25px;
}

.timer-quiz {
  position: absolute;
  top: 0;
  right: 0;
}
.QuizName h1,
.QuizName p,
.QuizQuestion h1,
.QuizQuestion p,
.timer-quiz,
.QuestionAnswers p,
.QuestionAnswers label {
  font-family: "Poppins", sans-serif;
  color: #696f79;
}
.QuestionAnswers input {
  margin-right: 25px;
}

.QuizName h1 {
  font-weight: 700;
  font-size: 33px;
  line-height: 50px;
  width: fit-content;

  margin-top: 25px;
}

.QuizName p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 25px;
  width: fit-content;
}

.YESorNoz {
}
.QuizQuestion h1 {
  font-weight: 600;
  font-size: 23px;
  line-height: 35px;
}

.QuizQuestion p {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.timer-quiz {
  font-weight: 700;
  font-size: 33px;
  line-height: 50px;
  margin-top: 25px !important;
  margin-right: 35px !important;
}

.QuestionAnswers{
  width: fit-content;
}

.QuestionAnswers p {
  font-weight: 600;
  font-size: 23px;
  line-height: 35px;
}

.QuestionAnswers label {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}
.Image {
  margin-bottom: 25px !important;
}
.QuizQuestion {
  margin-left: 40px !important;
}

.YESorNo {
  position: absolute;
  z-index: 1;
  top: 67%;
  left: 55%;
  transform: translate(-50%, -50%);
}
.ALL {
  /* filter: grayscale(1); */
  /* filter: brightness(50%); */
}
